<div class="card" style="margin: 1em">
  <div class="card-body">
    <form [formGroup]="getFormGroup()" (ngSubmit)="onSubmit()">
      <div>
        <img [src]="getImageSrc()" class="w-100 pl-lg pr-lg sizing-border-box"
          style="max-height: 18.75rem; object-fit: contain" />
      </div>
      <div>
        <p class="text-center mt-lg mb-lg" style="color: #333a45; font-size: 1.25rem; font-weight: 500">
          {{getHeaderText()}}
        </p>
      </div>
      <div>
        <p class="text-center mt-lg mb-lg" style="color: #333a45;">
          {{getMiddleText()}}
        </p>
      </div>
      <ng-container *ngIf="state === allStates[0]">
        <div class="form-label-group mb-3">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com"
            style="border: 0.0625rem solid #dad9db" />
          <label for="email">Enter Email or Mobile Number</label>
        </div>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert p-0 text-danger">
          <div *ngIf="email?.errors?.required">*Email or Phone Number is required.</div>
          <div *ngIf="email?.errors?.serverError">
            {{ email?.errors?.serverError }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="state === allStates[1]">
        <div class="w-100 mb-lg mt-md">
          <div style="display: flex; justify-content: space-between">
            <div [ngClass]="{ 'ml-sm': !!i }" *ngFor="let input of formInput; index as i">
              <input #formRow type="text" formControlName="{{ input }}"
                class="form-control input-otp-box sizing-border-box text-center" maxlength="1" minlength="1"
                (keyup)="keyUpEvent($event, i)" />
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="state === allStates[2]">
        <div class="form-label-group input-group">
          <input type="{{ getPasswordInputType() }}" class="form-control border-right-0" id="password"
            formControlName="password" placeholder="Password" style="border: 0.0625rem solid #ced4da !important" />
          <label for="password" style="z-index: 3">Password</label>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1" style="
                padding: 0.375rem 1.75rem;
                background: none;
                border-left: none;
              "><i (click)="isPasswordVisible = !isPasswordVisible" class="material-icons">{{isPasswordVisible ?
                'visibility' : 'visibility_off'}}</i>
            </span>
          </div>
        </div>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert p-0 text-danger">
          <div *ngIf="password?.errors?.required">*Password is required.</div>
          <div *ngIf="password?.errors?.pattern">*Password format incorrect.</div>
        </div>
        <div class="form-label-group input-group mt-3">
          <input type="{{ getConfirmPasswordInputType() }}" class="form-control border-right-0" id="confirmPassword"
            formControlName="confirmPassword" placeholder="Confirm Password"
            style="border: 0.0625rem solid #ced4da !important" />
          <label for="confirmPassword" style="z-index: 3">Confirm Password</label>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1" style="
                padding: 0.375rem 1.75rem;
                background: none;
                border-left: none;
              "><i (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible"
                class="material-icons">{{isConfirmPasswordVisible ?
                'visibility' : 'visibility_off'}}</i>
            </span>
          </div>
        </div>
        <div
          *ngIf="changePasswordForm.controls['password'].value != changePasswordForm.controls['confirmPassword'].value && (confirmPassword?.dirty || confirmPassword?.touched)"
          class="alert p-0 text-danger">
          <div>*Password does not match.</div>
        </div>
      </ng-container>
      <div>
      </div>
      <div class="button w-100 mt-5">
        <button class="w-100 submit-button" type="submit" [disabled]="isSubmitDisabled()">
          {{getButtonText()}}
        </button>
      </div>
    </form>
  </div>
  <footer *ngIf="state === allStates[0] || state === allStates[2]">
    <div class="sign-in-text">
      Already have an account? <span class="link" [routerLink]="['/auth/sign-in']">Sign In</span>
    </div>
  </footer>
  <footer *ngIf="state === allStates[1]">
    <div class="resend-otp" (click)="sendOtp()">
      Resend OTP
    </div>
  </footer>
</div>