:host {
  display: flex;
  justify-content: center;
  margin: 3.125rem 0;
}

.mat-form-field {
  width: 100%;
  min-width: 18.75rem;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 1rem;
  width: 18.75rem;
  color: white;
  background-color: red;
}

.login-button {
  background-color: #6f57e9 !important;
  color: white;
  width: 100%;
}

.forgot-password {
  float: right;
  color: #6f57e9;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.submit-button {
  border: .0625rem solid #7056fe;
  border-radius: .4375rem;
  height: 3.9375rem;
  line-height: 3.9375rem;
  text-align: center;
  font-size: 1.125rem;
  color: #6f57e9;
  margin-top: .9375rem;
}

.sign-in-text {
  margin-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
}

.resend-otp {
  margin-bottom: 20px;
  color: #6f57e9;
  margin-left: 20px;
}

.link {
  color: #6f57e9 !important;
}