.title-text {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 1.1875rem;
  margin-top: 2.1875rem;
}
.verify-document-button {
  border: 0.0625rem solid #7056fe;
  border-radius: 0.4375rem;
  height: 3.9375rem;
  line-height: 3.9375rem;
  text-align: center;
  font-size: 1.125rem;
  color: #6f57e9;
  margin-top: 0.9375rem;
}
.verify-document-button:hover {
  background: rgba(111, 87, 233, 0.1);
}
.footer-text {
  color: #747474;
  font-size: 1rem;
  margin-top: 1.0625rem;
  margin-bottom: 1.25rem;
  margin-right: 1.875rem;
  font-weight: 500;
}
